{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <style>
        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile-card {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            width: 100%;
            max-width: 600px;
            padding: 20px;
        }

        .profile-card h4 {
            margin-bottom: 20px;
        }

        .profile-card form {
            width: 100%;
        }

        .profile-card .profile-table td input {
            width: 100%;
        }

        .button-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .btn-outline-secondary {
            color: #6c757d;
            border-color: #6c757d;
            margin: 5px;
        }

        .btn-outline-secondary:hover {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .car-list {
            width: 100%;
            max-width: 800px;
            margin-top: 20px;
        }

        .orders-table th, .orders-table td {
            text-align: center;
        }
    </style>

    <div class="container mt-5">
        <div class="profile-container">
            <div class="profile-card">
                <h4>Информация о пользователе</h4>
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <div class="profile-info">
                        <table class="profile-table table">
                            {{ user_form.as_table }}
                        </table>
                    </div>
                    <div class="button-container">
                        <button type="submit" name="save_user" class="btn btn-outline-secondary">Сохранить</button>
                    </div>
                </form>
            </div>

            <div class="profile-card">
                <h4>Смена пароля</h4>
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <div class="profile-info">
                        <table class="profile-table table">
                            {{ password_form.as_table }}
                        </table>
                        После смены пароля вам нужно будет заново войти в аккаунт
                    </div>
                    <div class="button-container">
                        <button type="submit" name="save_password" class="btn btn-outline-secondary">Сменить пароль</button>
                    </div>
                </form>
            </div>

            <div class="car-list">
                <h4>Мои заказы</h4>
                {% if orders %}
                    <table class="table table-bordered orders-table">
                        <thead class="thead-light">
                        <tr>
                            <th>Дата заказа</th>
                            <th>Инвентарь</th>
                            <th>Количество</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {% for item in order.ordered_equipment.all %}
                                <tr>
                                    <td>{{ order.order_date|date:"d.m.Y" }} {{ order.order_time|time:"H:i" }}</td>
                                    <td>{{ item.equipment.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ order.get_status_display }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>У вас пока нет заказов</p>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
