<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Спортклуб</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'equipment_list' %}">Забронировать</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user' user.id %}">Личный кабинет</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Админпанель</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_list' %}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_article' %}">Добавить статью</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>